body{
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
}
.col-md-7{
    margin-top: 175px !important;
    padding: 20px;
}
h1{
    color: #b12a5b !important;
}
input,label{
    margin: 10px;
    font-size: 20px;
}
li{
    list-style-type: none;
}